<div class="cardrow" style="padding-left:7%;padding-right:5%;">
  <div class="row-fluid">
    <div id="actions_accordion">
      <a data-toggle="collapse" data-parent="#actions_accordion" href="#email_form<%= card.id %>">
        <h1 class="social-on" style="float:left;margin-left:8%;"><i class="icon-<%= 'share-alt' %>"></i></h1>
      </a>
      <a href="<%= email_shares_path %>">
        <h1 class="social-on" style="float:left;margin-left:25%;"><i class="icon-<%= 'bookmark' %>"></i></h1>
      </a>
      <a href="<%= props_new_path(card.id) %>">
        <h1 class="social-on" style="float:left;margin-left:25%;"><i class="icon-<%= 'plus' %>"></i></h1>
      </a>
    </div>
  </div>
  <div class="row-fluid" style="padding:0">
    <div id="email_form<%= card.id %>" class="collapse">
      <%= render 'email_shares/form', card: card %>
    </div>
  </div>
</div>